<p-dialog
  [header]="'Edit target'"
  i18n-header
  [visible]="visible()"
  (visibleChange)="visible.set($event)"
  [draggable]="false"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [dismissableMask]="true">
  <form [formGroup]="editTargetForm" (ngSubmit)="submit()">
    <div class="grid formgrid p-fluid">
      <div class="field mb-4 col-12 md:col-6">
        <label for="systemName" class="font-medium text-900" i18n
          >System name</label
        >
        <input
          id="systemName"
          formControlName="systemName"
          type="text"
          pInputText />
      </div>
      <div class="field mb-4 col-12 md:col-6">
        <label class="font-medium text-900" i18n>Operating System</label>
        <p-dropdown
          formControlName="os"
          [options]="operatingSystems"
          optionValue="value"
          optionLabel="label"></p-dropdown>
      </div>
      <div class="field mb-4 col-12">
        <label class="font-medium text-900" i18n>Description</label>
        <textarea
          formControlName="description"
          rows="3"
          pInputTextarea></textarea>
      </div>
      <div class="field mb-4 col-12 md:col-6">
        <label class="font-medium text-900" i18n>IP or domain</label>
        <input formControlName="ipOrDomain" type="text" pInputText />
        <small class="text-500" i18n>Populated by agent</small>
      </div>
      <div class="field col-12 md:col-6 mb-4">
        <label class="font-medium text-900" i18n>Status</label>
        <p-dropdown
          formControlName="status"
          [options]="statuses"
          optionValue="value"
          optionLabel="label"></p-dropdown>
      </div>
      <div class="field col-12 mb-4">
        <label class="font-medium text-900" i18n>Assigned agent</label>
        <input formControlName="assignedAgent" type="text" pInputText />
        <small class="text-500" i18n>Populated by agent</small>
      </div>
    </div>
    <div class="flex justify-content-end gap-2 mt-4">
      <button
        pButton
        label="Cancel"
        i18n-label
        icon="pi pi-times"
        type="button"
        (click)="hide()"
        class="p-button-secondary"></button>
      <button
        pButton
        pRipple
        type="submit"
        label="Update"
        i18n-label
        icon="pi pi-pencil"
        [disabled]="editTargetForm.invalid"></button>
    </div>
  </form>
</p-dialog>
