<div class="layout-topbar">
  <button
    #menubutton
    class="p-link layout-menu-button layout-topbar-button"
    (click)="layoutService.onMenuToggle()">
    <i class="pi pi-bars"></i>
  </button>

  <button
    pButton
    type="button"
    (click)="selectorPanel.toggle($event)"
    icon="pi pi-chevron-down"
    class="p-button-raised p-button-secondary project-selector-btn"
    [label]="getCurrentSelectionLabel()"></button>
  <p-overlayPanel #selectorPanel [style]="{ width: '300px' }">
    <p-menu [model]="selectorMenuItems"></p-menu>
  </p-overlayPanel>

  <div
    #topbarmenu
    class="layout-topbar-menu"
    [ngClass]="{
      'layout-topbar-menu-mobile-active':
        layoutService.state.profileSidebarVisible
    }">
    <p-menu #menu [model]="items" [popup]="true"></p-menu>
    <button
      pButton
      type="button"
      (click)="menu.toggle($event)"
      icon="pi pi-user"
      class="p-button-raised p-button-secondary"
      [label]="($accountInfo | async)?.fullName || ''"></button>
  </div>
</div>
