<div class="p-6 pt-0">
  <h1 class="text-2xl font-bold mb-6" i18n>Dashboard</h1>

  <!-- KPIs -->
  <div class="flex-column md:flex-row flex w-full gap-6 mb-4">
    <p-card
      styleClass="hover:shadow-4 transition-all transition-duration-300 h-full">
      <div class="flex align-items-center">
        <div class="flex align-items-center">
          <div
            class="flex align-items-center justify-content-center bg-blue-100 border-round mr-3"
            style="width: 4rem; height: 4rem">
            <i class="pi pi-server text-blue-600 text-3xl"></i>
          </div>
          <div>
            <div class="text-900 font-bold text-2xl mb-3">
              {{ kpis?.targetsCount || 0 }}
            </div>
            <div class="text-600" i18n>Target Systems</div>
          </div>
        </div>
        <div class="hidden md:block">
          <i class="pi pi-angle-right text-blue-400 text-xl"></i>
        </div>
      </div>
    </p-card>
    <p-card
      styleClass="hover:shadow-4 transition-all transition-duration-300 h-full w-full">
      <div class="flex align-items-center justify-content-between w-full">
        <div class="flex align-items-center">
          <div
            class="flex align-items-center justify-content-center bg-green-100 border-round mr-3"
            style="width: 4rem; height: 4rem">
            <i class="pi pi-shield text-green-600 text-3xl"></i>
          </div>
          <div>
            <div class="text-900 font-bold text-2xl mb-3">
              {{ kpis?.activeAgentsCount || 0 }}
            </div>
            <div class="text-600" i18n>Active Agents</div>
          </div>
        </div>
        <div class="hidden md:block">
          <i class="pi pi-angle-right text-green-400 text-xl"></i>
        </div>
      </div>
    </p-card>
    <p-card
      styleClass="hover:shadow-4 transition-all transition-duration-300 h-full w-full">
      <div class="flex align-items-center justify-content-between w-full">
        <div class="flex align-items-center">
          <div
            class="flex align-items-center justify-content-center bg-red-100 border-round mr-3"
            style="width: 4rem; height: 4rem">
            <i class="pi pi-check-circle text-red-600 text-3xl"></i>
          </div>
          <div>
            <div class="text-900 font-bold text-2xl mb-3">
              {{ kpis?.fixedVulnerabilitiesCount || 0 }}
            </div>
            <div class="text-600" i18n>Fixed Vulnerabilities</div>
          </div>
        </div>
        <div class="hidden md:block">
          <i class="pi pi-angle-right text-red-400 text-xl"></i>
        </div>
      </div>
    </p-card>
  </div>

  <!-- Critical Vulnerabilities -->
  <p-card header="Latest Critical Vulnerabilities" i18n-header styleClass="mb-4">
    <p-table [value]="vulnerabilities" [paginator]="true" [rows]="5">
      <ng-template pTemplate="header">
        <tr>
          <th i18n>CVE</th>
          <th i18n>Description</th>
          <th i18n>Severity</th>
          <th i18n>Target System</th>
          <th i18n>Reported Date</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-vuln>
        <tr>
          <td>{{ vuln.cve }}</td>
          <td>{{ vuln.description }}</td>
          <td>
            <p-badge
              [value]="vuln.severity"
              severity="danger"
              *ngIf="vuln.severity === 'Critical'"></p-badge>
            <span *ngIf="vuln.severity !== 'Critical'">{{
              vuln.severity
            }}</span>
          </td>
          <td>{{ vuln.targetSystem }}</td>
          <td>{{ vuln.reportedDate | date: 'short' }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>

  <!-- Chart -->
  <div>
    <p-card header="Vulnerabilities Detected per Month" i18n-header>
      <p-chart
        height="300px"
        type="bar"
        [data]="chartData"
        [options]="chartOptions"></p-chart>
    </p-card>
  </div>
</div>
