.auth-box {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
}

::ng-deep {
  .p-password {
    width: 100%;

    input {
      width: 100%;
    }
  }
}
